.card {
  display: flex;
  flex-direction: column;
  min-height: 436px;
  background-color: #fafafa;
  cursor: pointer;
  transition: all 0.3s ease-out;

  &:hover {
    background-color: #fff;
    box-shadow: 4px -3px 13px -4px #fafafa;
  }
}

.card__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  padding: 24px;
}
