//colors
$accent: #ff5300;
$light: #fff;
$dark: #242526;
$background: #fff7f4;
$background-dark: #18191a;
$dark-grey: #373737;
$parahraph-gray: #7b7b7b;
$black-liquoris:#3a3b3c;

//media
$desctop-width: 1441px;
$laptop-width: 1439px;
$tablet-width: 992px;
$mobile-width: 768px;
