.container {
  height: 50vh;
  width: 100%;
  position: relative;
}

.car {
  width: 30vw;
  right: 0;
  bottom: 0;
  position: absolute;
  animation: moove 10s linear infinite, car-rotate 1s linear infinite;
}

.car img {
  width: 100%;
  animation: car 1s linear infinite;
}

.car-wheel {
  right: 0;
  bottom: 4vw;
  position: absolute;
  animation: moove 10s linear infinite;
}

.car-wheel img {
  width: 5vw;
  animation: car-wheel 10s linear infinite;
}

.front-wheel {
  right: 22vw;
  position: absolute;
}

.back-wheel {
  right: 3vw;
  position: absolute;
}

@keyframes car {
  0% {
    transform: translateY(-1px);
  }

  50% {
    transform: translateY(1px);
  }

  100% {
    transform: translateY(-1px);
  }
}

@keyframes car-wheel {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-180deg);
  }

  50% {
    transform: rotate(-360deg);
  }

  75% {
    transform: rotate(-180deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes moove {
  0% {
    right: 0;
  }

  25% {
    right: 30vw;
  }

  50% {
    right: 68vw;
  }

  75% {
    right: 30vw;
  }

  100% {
    right: 0;
  }
}