.header {
    padding: 12px 15px;
    width: 100%;
    background-color: $dark;
}

.header__container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 32px;

    @include media-mobile {
        grid-template-columns: 1fr 1fr;
    }
}

.nav {
    justify-self: end;
}

.menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 24px;
    color: $light;

    @include media-mobile {
        display: none;
    }
}

.menu__link {
    transition: color 0.3s ease-in-out;

    &:hover {
        color: $accent;
    }
}