//colors
$accent: #f7941e;
$light: #fff;
$dark: #231f20;
$black: #000;
$background: #fafafa;
$shadow: #aa9e9e;
//media
$desctop-width: 1441px;
$laptop-width: 1439px;
$tablet-width: 992px;
$mobile-width: 768px;
$small-mobile-width: 414px;