.close {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 30px;
    height: 30px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: .5s;

    &:hover {
        transform: rotate(90deg);
    }

    span {
        width: 10px;
        height: 1px;
        background: #000;
        position: absolute;

        &:first-child {
            transform: rotate(45deg);
        }

        &:last-child {
            transform: rotate(135deg);
        }
    }
}
