.authors {
    padding: 0.8vw 15px 3.4vw;
}

.authors__title {
    margin-bottom: 3.4vw;
    text-align: center;
}

.author {
    display: grid;
    justify-items: center;
    padding: 40px 0;
    background-color: $background-secondary;

    &--active {
        background-color: $background-accent;
    }
}

.author__avatar,
.author__descr {
    margin-bottom: 17px;
}

.author__descr {
    font-size: 14px;
}