.blog-posts__title-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: end;

    @include media-laptop {
        margin-bottom: 15px;
    }
}

.blog-posts__link {
    justify-self: end;
    color: $purple;
    @include fluid-font(16, 14);
    transition: color 0.3s ease-in-out;

    &:hover {
        color: $accent;
    }
}

.blog-posts__post-wrapper {
    display: grid;
    grid-template-columns: 1fr;

    @include media-laptop {
        grid-template-columns: repeat(2, 1fr);
    }

    @include media-mobile {
        grid-template-columns: 1fr;
        gap: 15px;
    }
}

.short-post__link {
    display: grid;
    justify-items: start;
    gap: 8px;
    padding: 2.2vw;
    border: 1px solid transparent;
    transition: all 0.3s ease-in-out;

    &:hover {
        border: 1px solid rgba($color: $paragraph-color, $alpha: 0.3);
        box-shadow: 3px 2px 15px -1px rgba(109, 110, 118, 0.73);
    }

    &--active {
        background-color: $background-accent;
    }
}

.short-post__title {
    max-width: 369px;
}