.blog {
    padding: 9.2vw 15px 4.4vw;
}

.blog__container {
    display: grid;
    grid-template-columns: minmax(auto, 733px) 1fr;
    gap: 32px;

    @include media-laptop {
        grid-template-columns: 1fr;
    }
}