.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.1vw 3.3vw;
    color: $dark;
    background-color: $light;
    border: 1px solid transparent;
    font-family: "Sen";
    @include fluid-font(18, 14);
    font-weight: 700;
    line-height: 133%;
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: $accent;
        border: 1px solid $accent;
    }

    &--accent {
        background-color: $accent;

        &:hover {
            background-color: $light;
        }

        &:visited {
            color: $dark;
        }
    }
}

.header__btn {
    @include media-mobile {
        display: none;
    }
}