.featured {
    padding: 2.8vw 15px;
}

.featured__container {
    display: grid;
    grid-template-columns: max-content auto;
    gap: 86px;

    @include media-laptop {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    @include media-small-mobile {
        justify-items: center;
    }
}

.featured__partners {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    align-content: center;
    gap: 5.2vw;

    @include media-small-mobile {
        justify-self: start;
    }
}

.featured__descr {
    @include fluid-font(14, 12);
    line-height: 143%;
}

.featured__title {
    color: $paragraph-color;
}

.featured__title-wrapper {
    display: grid;

    @include media-laptop {
        justify-items: center;
    }
}