.post {
    display: grid;
    gap: 28px;
}

.post__title {
    margin-bottom: 32px;
}

.post__body {
    display: grid;
    justify-items: start;
    padding: 2.2vw;
    border: 1px solid rgba(109, 110, 118, 0.1);
}

.post__img {
    justify-self: center;
    margin-bottom: 37px;
}

.post__title {
    margin: 18px 0;
}

.post__descr {
    max-width: 551px;
    margin-bottom: 2.2vw;
}

.post__post-data,
.post__subtitle {
    margin-bottom: 16px;
}