.post {
    display: grid;
    gap: 15px;
}

.post__title {
    margin-bottom: 32px;
}

.post__body {
    display: grid;
    justify-items: start;
    padding: 32px;
    border: 1px solid rgba(109, 110, 118, 0.1);
}

.post__img {
    display: grid;
    justify-items: stretch;
    width: 100%;
    margin-bottom: 32px;
}

.post__descr {
    max-width: 551px;
    margin-bottom: 32px;
}

.post__post-data,
.post__subtitle {
    margin-bottom: 16px;
}