.post__title {
    margin-bottom: 32px;
}

.post__body {
    display: grid;
    justify-items: start;
    padding: 32px;
    border: 1px solid rgba(109, 110, 118, 0.1);
}

.post__img {
    margin-bottom: 32px;
}

.post__descr {
    max-width: 551px;
    @extend .post__img;
    @include fluid-font(16, 14);
    color: $paragraph-color;
    line-height: 175%;
}

.post__post-data,
.post__subtitle {
    margin-bottom: 16px;
}

.post__subtitle {
    @include fluid-font(28, 22);
    line-height: 143%;
    letter-spacing: -1px;
}