.story {
    padding: 7.9vw 0;
}

.story__container {
    display: grid;
    grid-template-columns: [image-start] minmax(auto, 574px) [text-start] minmax(auto, 375px) [image-end] minmax(auto, 328px) [text-end];
    grid-template-rows: [image-start] 121px [text-start] minmax(584px, auto) [row-end];

    @include media-tablet {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }

    @include media-mobile {
        grid-template-columns: 1fr;
    }
}

.story__image {
    grid-column: image-start / image-end;
    grid-row: image-start / row-end;
    min-height: 400px;
    background-image: url("../assets/img/story-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    @include media-tablet {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }

    @include media-mobile {
        background-image: url("../assets/img/story-bg-tablet.jpg");
    }

    @include media-small-mobile {
        background-image: url("../assets/img/story-bg-mobile.jpg");
    }
}

.story__text {
    display: grid;
    justify-items: start;
    grid-column: text-start / text-end;
    grid-row: text-start / row-end;
    padding: 5.6vw 5.4vw 5.6vw 5.6vw;
    background-color: $light;

    @include media-tablet {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }
}

.story__subtitle {
    margin-bottom: 1.7vw;
}

.story__title {
    @include fluid-font(48, 36);
    margin-bottom: 16px;
    line-height: 133%
}

.story__descr {
    margin-bottom: 2.2vw;
}