.testimonials {
    padding: 3.7vw 0 4.4vw;
}

.testimonials__container {
    display: grid;
    grid-template-columns: minmax(250px, 345px) 1px minmax(250px, 532px);
    justify-content: center;
    gap: 89px;
    padding: 5.6vw 15px 5.2vw;
    background-color: $background-accent;

    @include media-tablet {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1px auto;
        gap: 30px;
    }

    @include media-mobile {
        gap: 20px;
    }

    @include media-small-mobile {
        gap: 15px;
    }
}

.testimonials__subtitle {
    margin-bottom: 12px;
}

.testimonials__title {
    margin-bottom: 16px;
}

.testimonials__line {
    background-color: rgba(109, 110, 118, 0.4);
}

.review__title {
    max-width: 468px;
    margin-bottom: 8.4vw;

    @include media-tablet {
        margin-bottom: 6vw;
    }

    @include media-mobile {
        text-align: center;
    }
}

.review__wrapper {
    display: flex;
    justify-content: space-between;

    @include media-mobile {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 15px;
    }
}

.review__author-wraper {
    display: grid;
    grid-template-areas:
        "avatar name"
        "avatar place"
    ;
    column-gap: 16px;

    @include media-small-mobile {
        margin-top: 20px;
    }
}

.review__avatar {
    grid-area: avatar;
}

.review__name {
    grid-area: name;
}

.review__place {
    grid-area: place;
}

.review__arrows {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: $accent;
    }

    &--left {
        width: 48px;
        height: 48px;
        background-color: $light;

        @include media-mobile {
            width: 38px;
            height: 38px;
        }

        @include media-small-mobile {
            width: 28px;
            height: 28px;
        }
    }

    &--right {
        width: 64px;
        height: 64px;
        background-color: $dark;

        @include media-mobile {
            width: 54px;
            height: 54px;
        }

        @include media-small-mobile {
            width: 44px;
            height: 44px;
        }
    }
}