
.notification {
    position: fixed;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    background: rgba(184, 184, 218, 0.94);
    font-family: sans-serif;
    padding: 10px 20px;
    border-radius: 10px;
    transition: 0.5s;

    &--active {
        top: 20%;    
    }
}
