.footer {
    padding: 4vw 15px;
    background-color: $dark;
}

.footer__top {
    display: grid;
    grid-template-columns: auto 1fr;
    margin-bottom: 3.8vw;

    @include media-mobile {
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 20px;
    }
}

.footer__menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-self: end;
    @include fluid-font(16, 14);

    @include media-mobile {
        justify-self: center;
        gap: 15px;
    }

    @include media-small-mobile {
        grid-template-columns: 1fr;
        justify-self: start;
        gap: 8px;
    }
}

.footer__subcribe {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4.4vw;
    margin-bottom: 3.3vw;
    padding: 5.5vw 4.4vw;
    background-color: rgba($color: $light, $alpha: 0.05);

    @include media-mobile {
        grid-template-columns: 1fr;
        justify-items: center;
    }
}

.footer__title {
    color: $light;

    @include media-mobile {
        text-align: center;
    }
}

.footer__form {
    display: grid;
    grid-template-columns: minmax(150px, 323px) minmax(150px, 179px);
    grid-template-rows: 56px;
    align-items: start;
    gap: 1.7vw;

    @include media-mobile {
        grid-template-rows: 40px;
    }

    @include media-small-mobile {
        grid-template-columns: 1fr;
    }
}

.footer__input {
    align-self: stretch;
    padding: 0 25px;
    background-color: transparent;
    border: 1px solid $background-dark;
    color: $light;

    &::placeholder {
        color: $paragraph-color;
    }

    &:focus {
        border: 1px solid $light;
    }

    &:invalid:not(:placeholder-shown) {
        border-color: $error;
        color: $error;

        & + button {
            background: $background-dark;
            border: 1px solid $error;
            color: $error;
            cursor: not-allowed;
        }
    }
}

.footer__btn {
    align-self: stretch;
}

.footer__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media-mobile {
        flex-direction: column;
    }
}

.address {
    display: grid;
    grid-template-areas:
        "street street"
        "email tel"
    ;
    gap: 10px;
    color: rgba($color: $light, $alpha: 0.7);
    @include fluid-font(16, 14);
    font-style: normal;

    @include media-mobile {
        margin-bottom: 15px;
    }
}

.address__street {
    grid-area: street;

    @include media-mobile {
        justify-self: center;
    }
}

.address__email {
    grid-area: email;
}

.address__tel {
    grid-area: tel;
}

.address__email,
.address__tel {
    transition: all 0.3s ease-in-out;

    &:hover {
        color: $accent;
    }
}

.footer__link {
    svg path {
        fill: $paragraph-color;
    }
}