html {
  // @include media-desctop {
  //   font-size: 20px;
  // }

  // @include media-tablet {
  //   font-size: 14px;
  // }

  // @include media-mobile {
  //   font-size: 12px;
  // }
}

body {
  font-family: "Poppins";
  font-weight: 500;
  color: $dark-grey;
}

img {
  width: 100%;
  display: block;

  // @include media-desctop {
  //   width: 100%;
  // }
}


//backgrounds
.bg-main {
  background-color: $background;
}

.bg-accent {
  background-color: $accent;
}

//colors

.color-accent {
  color: $accent;
}
.color-light {
  color: $light;
}

.color-main {
  color: $dark-grey;
}

.color-text {
  color: $parahraph-gray;
}

//fonts
.fs-small {
  font-size: 10px;
} 

.fs-large {
  font-size: 26px;
  
  @include media-desctop{
    font-size: 48px;
  }
}

.ff-secondary {
  font-family: "Work Sans";
}

//sizes
.ico-size {
  width: 14px;
  height: 14px;
}

//spaces
.section-pt {

  @include media-desctop {
    padding-top: 117px;
  }
}

.section-pb {

  @include media-desctop {
    padding-bottom: 149px;
  }
}

//hovers
.hover {
  &:hover {
    background-color: $background;
    border-color: $dark-grey;
  }
}

.navbar-nav > .active > a {
  color: $accent 
}


