html {
  // @include media-desctop {
  //   font-size: 20px;
  // }

  // @include media-tablet {
  //   font-size: 14px;
  // }

  // @include media-mobile {
  //   font-size: 12px;
  // }
}

body {
  font-family: "Poppins";
  font-weight: 500;
}

img {
  width: 100%;
  display: block;

  // @include media-desctop {
  //   width: 100%;
  // }
}

.bg-main {
  background-color: $background;
}

.fs-small {
  font-size: 10px;
} 

.ico-size {
  width: 14px;
  height: 14px;
}

.section-pt {
  padding-top: 117px;
}

.section-pb {
  padding-bottom: 149px;
}
