body {
  font-family: "Poppins";
  font-weight: 500;
  color: $dark-grey;
}

img {
  width: 100%;
  display: block;
}

//backgrounds
.bg-main {
  background-color: $background;
}

.bg-accent {
  background-color: $accent;
}

button.active {
  background-color: $accent  !important;
}

//colors
.color-accent {
  color: $accent;
}

.color-light {
  color: $light;
}

.color-main {
  color: $dark-grey;
}

.color-text {
  color: $parahraph-gray;
}

a.active {
  color: $accent  !important;
}

button.nav-link {
  color: $parahraph-gray;

  &:hover {
    color: $black-liquoris;
  }
}

//fonts
.fs-small {
  font-size: 10px;
}

.fs-large {
  font-size: 26px;

  @include media-desctop {
    font-size: 48px;
  }
}

.ff-secondary {
  font-family: "Work Sans";
}

//sizes
.size-14 {
  width: 14px;
  height: 14px;
}

//spaces
.section-pt {
  padding-top: 60px;

  @include media-laptop {
    padding-top: 117px;
  }
}

.section-pb {
  padding-bottom: 60px;

  @include media-laptop {
    padding-bottom: 149px;
  }
}

//hovers&pseudo
.hover {
  &:hover {
    background-color: $background;
    border-color: $dark-grey;
  }
}

.heading-pseudo {

  &::before,
  &::after {
    content: "";
    width: 40px;
    height: 1px;
    background-color: $accent;
  }
}