body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.grid-container {
    flex-grow: 1;
    display: grid;
    gap: 10px;
    grid-template-areas: 
    "item1 item2 item2 item3 item3"
    "item1 item4 item5 item5 item6"
    "item7 item4 item5 item5 item6"
    "item7 item8 item8 item9 item6"
    ;
    max-width: 900px;
    padding: 10px;
    background-color: #413d3d;
}

.item {
    padding: 80px 0;
}

.item1 {
    grid-area: item1;
}


.item2 {
    grid-area: item2;
}

.item3 {
    grid-area: item3;
}

.item4 {
    grid-area: item4;
}

.item1 {
    grid-area: item1;
}

.item5 {
    grid-area: item5;
}

.item6 {
    grid-area: item6;
}

.item7 {
    grid-area: item7;
}

.item8 {
    grid-area: item8;
}

.item9 {
    grid-area: item9;
}

.item1, .item6, .item8 {
    background-color: #f1463d;
}

.item2, .item9 {
    background-color: #2cc5cf;
}

.item3, .item4 {
    background-color: #d6b269;
}

.item5, .item7 {
    background-color: #fff;
}