* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy-regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy-semibold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Homemade";
  src: url("../fonts/HomemadeApple.woff2") format("woff2");
}
@media (min-width: 1441px) {
  html {
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
}

body {
  font-family: "Gilroy";
}

img {
  max-width: 100%;
  display: block;
}
@media (min-width: 1441px) {
  img {
    width: 100%;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 21px 46px;
  border: 1px solid #f7941e;
  border-radius: 5px;
  text-transform: uppercase;
  color: #f7941e;
  font-size: 18px;
  line-height: 24px;
}
@media (max-width: 992px) {
  .btn {
    padding: 13px 46px;
  }
}
@media (max-width: 768px) {
  .btn {
    padding: 9px 18px;
    font-size: 12px;
  }
}
.btn--accent {
  background-color: #f7941e;
  color: #fff;
  border: none;
}
.btn--dark {
  background-color: #231f20;
  color: #fff;
  border: none;
}
.btn--transparent {
  background-color: transparent;
  color: inherit;
  border: 1px solid #000;
}

.logo {
  width: 25%;
  font-family: "Homemade";
  font-size: 18px;
  line-height: 39px;
  color: #231f20;
}
@media (min-width: 1441px) {
  .logo {
    font-size: 26px;
  }
}

.title {
  font-size: 2rem;
  line-height: 45px;
  text-align: center;
}

.heading {
  margin-bottom: 36px;
  font-size: 3.5rem;
  line-height: 69px;
  font-weight: 600;
}
@media (max-width: 1439px) {
  .heading {
    text-align: center;
    line-height: normal;
  }
}
@media (max-width: 992px) {
  .heading {
    text-align: center;
  }
}

.quotation {
  display: block;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.layout-2-columns {
  display: flex;
  flex-wrap: wrap;
}
.layout-2-columns > * {
  width: 50%;
}
@media (max-width: 992px) {
  .layout-2-columns {
    flex-direction: column;
    gap: 20px;
  }
  .layout-2-columns > * {
    width: 100%;
  }
}

.layout-4-columns {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.layout-4-columns > * {
  flex-basis: calc(25% - 30px);
}
@media (max-width: 992px) {
  .layout-4-columns > * {
    flex-basis: calc(50% - 30px);
  }
}
@media (max-width: 768px) {
  .layout-4-columns > * {
    flex-basis: 100%;
  }
}

.header {
  display: flex;
  align-items: center;
  padding: 34px 40px;
}
@media (min-width: 1441px) {
  .header {
    font-size: 26px;
  }
}
@media (max-width: 768px) {
  .header {
    padding: 10px 10px;
    justify-content: space-between;
  }
}

.header__wrapper {
  display: flex;
  justify-content: flex-end;
  width: 25%;
}

.header__btn {
  padding: 13px 20px;
  line-height: 22px;
}
@media (max-width: 992px) {
  .header__btn {
    padding: 6px 16px;
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .header__btn {
    padding: 6px;
    font-size: 10px;
    width: auto;
  }
}

.layout-grid-2-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}
@media (max-width: 992px) {
  .layout-grid-2-columns {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

.nav {
  display: flex;
  justify-content: center;
  width: 50%;
}
@media (max-width: 768px) {
  .nav {
    display: none;
  }
}

.menu {
  display: flex;
  gap: 31px;
}

.hero {
  background-color: #f1f1f2;
}
@media (max-width: 992px) {
  .hero {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.hero__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 162px;
}
@media (max-width: 1439px) {
  .hero__text {
    padding: 0 20px;
    align-items: center;
  }
}
@media (max-width: 992px) {
  .hero__text {
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    order: -1;
  }
}

.hero__description {
  margin-bottom: 52px;
  font-size: 1.25rem;
  line-height: 28px;
}
@media (max-width: 992px) {
  .hero__description {
    text-align: center;
  }
}
.hero__description--mb {
  margin-bottom: 35px;
}

.hero__title {
  margin-bottom: 23px;
}

@media (max-width: 992px) {
  .hero__image img {
    width: 100%;
  }
}

.gifts {
  padding-top: 96px;
  padding-bottom: 137px;
}
@media (max-width: 768px) {
  .gifts {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.gifts__cards {
  gap: 30px;
}

.gifts__title {
  margin-bottom: 23px;
}

.gifts__quotation {
  margin-bottom: 64px;
}

.card {
  display: flex;
  flex-direction: column;
  min-height: 436px;
  background-color: #fafafa;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.card:hover {
  background-color: #fff;
  box-shadow: 4px -3px 13px -4px #aa9e9e;
}

.card__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  padding: 24px;
}

.card__title {
  font-size: 20px;
  line-height: 24px;
}

.card__link {
  font-size: 14px;
  line-height: 19px;
  transition: font-weight 0.4s ease-in-out;
}
.card__link:hover {
  font-weight: 700;
}

.sign-up {
  padding: 81px 0 69px;
  background-color: #f7941e;
}

.sign-up__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  gap: 16px;
}

.sign-up__title, .sign-up__subtitle {
  font-size: 32px;
  line-height: 45px;
  font-weight: 700;
}

.sign-up__subtitle {
  font-weight: 400;
}/*# sourceMappingURL=style.css.map */