* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* ===== Usage ===== */
@font-face {
  font-family: "Sen";
  src: url("../assets/fonts/Sen-Bold.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Black.woff2") format("woff2");
  font-weight: 900;
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Sen";
  src: url("../assets/fonts/Sen-Bold.woff2") format("woff2");
  font-weight: 700;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter";
  color: #232536;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.header {
  padding: 12px 15px;
  width: 100%;
  background-color: #232536;
}

.header__container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 32px;
}
@media (max-width: 768px) {
  .header__container {
    grid-template-columns: 1fr 1fr;
  }
}

.nav {
  justify-self: end;
}

.menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 24px;
  color: #fff;
}
@media (max-width: 768px) {
  .menu {
    display: none;
  }
}

.menu__link {
  transition: color 0.3s ease-in-out;
}
.menu__link:hover {
  color: #ffd050;
}

.layout-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 296px));
  justify-content: center;
  gap: 2.2vw;
}
@media (max-width: 992px) {
  .layout-grid {
    grid-template-columns: repeat(2, minmax(200px, 296px));
  }
}
@media (max-width: 768px) {
  .layout-grid {
    grid-template-columns: 1fr;
  }
}

.footer {
  padding: 4.3vw 15px;
  background-color: #232536;
}

.footer__top {
  display: grid;
  grid-template-columns: auto 1fr;
  margin-bottom: 3.8vw;
}
@media (max-width: 768px) {
  .footer__top {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 20px;
  }
}

.footer__menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  justify-self: end;
}
@media (max-width: 768px) {
  .footer__menu {
    font-size: calc(14px + 3.4 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 768px) {
  .footer__menu {
    font-size: calc(14px + 2 * (100vw / 1440));
  }
}
@media (max-width: 768px) {
  .footer__menu {
    justify-self: center;
    gap: 15px;
  }
}
@media (max-width: 414px) {
  .footer__menu {
    grid-template-columns: 1fr;
    justify-self: start;
    gap: 8px;
  }
}

.footer__subcribe {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.1vw;
  margin-bottom: 3.7vw;
  padding: 5.5vw 4.4vw;
  background-color: rgba(255, 255, 255, 0.05);
}
@media (max-width: 768px) {
  .footer__subcribe {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

.footer__title {
  color: #fff;
}
@media (max-width: 768px) {
  .footer__title {
    text-align: center;
  }
}

.footer__form {
  display: grid;
  grid-template-columns: minmax(150px, 323px) minmax(150px, 179px);
  grid-template-rows: 56px;
  align-items: start;
  gap: 1.7vw;
}
@media (max-width: 768px) {
  .footer__form {
    grid-template-rows: 40px;
  }
}
@media (max-width: 414px) {
  .footer__form {
    grid-template-columns: 1fr;
  }
}

.footer__input {
  align-self: stretch;
  padding: 0 25px;
  background-color: transparent;
  border: 1px solid #4c4c4c;
  color: #fff;
}
.footer__input::placeholder {
  color: #6d6e76;
}
.footer__input:focus {
  border: 1px solid #fff;
}
.footer__input:invalid:not(:placeholder-shown) {
  border-color: #eb4034;
  color: #eb4034;
}
.footer__input:invalid:not(:placeholder-shown) + button {
  background: #4c4c4c;
  border: 1px solid #eb4034;
  color: #eb4034;
  cursor: not-allowed;
}

.footer__btn {
  align-self: stretch;
}

.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .footer__bottom {
    flex-direction: column;
  }
}

.address {
  display: grid;
  grid-template-areas: "street street" "email tel";
  gap: 10px;
  color: rgba(255, 255, 255, 0.7);
  font-style: normal;
}
@media (max-width: 768px) {
  .address {
    font-size: calc(14px + 3.4 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 768px) {
  .address {
    font-size: calc(14px + 2 * (100vw / 1440));
  }
}
@media (max-width: 768px) {
  .address {
    margin-bottom: 15px;
  }
}

.address__street {
  grid-area: street;
}
@media (max-width: 768px) {
  .address__street {
    justify-self: center;
  }
}

.address__email {
  grid-area: email;
}

.address__tel {
  grid-area: tel;
}

.address__email,
.address__tel {
  transition: all 0.3s ease-in-out;
}
.address__email:hover,
.address__tel:hover {
  color: #ffd050;
}

.footer__link svg path {
  fill: #6d6e76;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.1vw 3.3vw;
  color: #232536;
  background-color: #fff;
  border: 1px solid transparent;
  font-family: "Sen";
  font-weight: 700;
  line-height: 133%;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 768px) {
  .btn {
    font-size: calc(14px + 6.8 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 768px) {
  .btn {
    font-size: calc(14px + 4 * (100vw / 1440));
  }
}
.btn:hover {
  background-color: #ffd050;
  border: 1px solid #ffd050;
}
.btn--accent {
  background-color: #ffd050;
}
.btn--accent:hover {
  background-color: #fff;
}
.btn--accent:visited {
  color: #232536;
}

@media (max-width: 768px) {
  .header__btn {
    display: none;
  }
}

h1,
h2,
h3,
h4 {
  font-family: "Sen";
  font-weight: 700;
}

.title {
  line-height: 114%;
  letter-spacing: -2px;
}
@media (max-width: 768px) {
  .title {
    font-size: calc(28px + 47.6 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 768px) {
  .title {
    font-size: calc(28px + 28 * (100vw / 1440));
  }
}

.title-2 {
  line-height: 133%;
  letter-spacing: -2px;
}
@media (max-width: 768px) {
  .title-2 {
    font-size: calc(24px + 20.4 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 768px) {
  .title-2 {
    font-size: calc(24px + 12 * (100vw / 1440));
  }
}

.title-3 {
  line-height: 143%;
  letter-spacing: -1px;
}
@media (max-width: 768px) {
  .title-3 {
    font-size: calc(22px + 10.2 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 768px) {
  .title-3 {
    font-size: calc(22px + 6 * (100vw / 1440));
  }
}

.title-4 {
  line-height: 133%;
}
@media (max-width: 768px) {
  .title-4 {
    font-size: calc(20px + 6.8 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 768px) {
  .title-4 {
    font-size: calc(20px + 4 * (100vw / 1440));
  }
}

.title-5 {
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 3px;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .title-5 {
    font-size: calc(14px + 3.4 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 768px) {
  .title-5 {
    font-size: calc(14px + 2 * (100vw / 1440));
  }
}

.description {
  color: #6d6e76;
  line-height: 175%;
}
@media (max-width: 768px) {
  .description {
    font-size: calc(14px + 3.4 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 768px) {
  .description {
    font-size: calc(14px + 2 * (100vw / 1440));
  }
}

.burger-menu {
  cursor: pointer;
  display: none;
}
@media (max-width: 768px) {
  .burger-menu {
    display: block;
  }
}
.burger-menu__list {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%);
  transition: 0.5s;
}
.burger-menu__link {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
}
.burger-menu__btn {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #ffd050;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7px;
  z-index: 2;
}
.burger-menu__btn--active span {
  position: absolute;
}
.burger-menu__btn--active span:nth-child(1) {
  transform: rotate(45deg);
}
.burger-menu__btn--active span:nth-child(2) {
  opacity: 0;
}
.burger-menu__btn--active span:nth-child(3) {
  transform: rotate(-45deg);
}
.burger-menu__btn--active + .burger-menu__list {
  transform: translateY(0);
}
.burger-menu__btn span {
  height: 2px;
  width: 80%;
  background-color: #232536;
  transition: 0.5s;
}

.hero {
  padding: 8.9vw 15px 13vw;
  background-image: radial-gradient(30.56% 76.04% at 74.58% 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%), url("../assets/img/hero-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
}
@media (max-width: 768px) {
  .hero {
    background-image: radial-gradient(30.56% 76.04% at 74.58% 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%), url("../assets/img/hero-bg-tablet.jpg");
  }
}
@media (max-width: 414px) {
  .hero {
    background-image: radial-gradient(30.56% 76.04% at 74.58% 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%), url("../assets/img/hero-bg-mobile.jpg");
  }
}

.hero__container {
  display: grid;
  grid-template-columns: minmax(auto, 804px);
  justify-items: start;
}
@media (max-width: 414px) {
  .hero__container {
    justify-items: center;
  }
}

.hero__subtitle {
  margin-bottom: 1.7vw;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 125%;
}
@media (max-width: 768px) {
  .hero__subtitle {
    font-size: calc(14px + 3.4 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 768px) {
  .hero__subtitle {
    font-size: calc(14px + 2 * (100vw / 1440));
  }
}
.hero__subtitlespan {
  font-weight: 500;
}

.hero__title {
  margin-bottom: 1.9vw;
}
@media (max-width: 414px) {
  .hero__title {
    text-align: center;
  }
}

.hero__desc {
  max-width: 599px;
  margin: 24px 0 3.3vw;
  color: #fff;
}
@media (max-width: 414px) {
  .hero__desc {
    text-align: center;
  }
}

.post-data {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 9px;
}

@media (max-width: 768px) {
  .hero__post-data {
    font-size: calc(14px + 3.4 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 768px) {
  .hero__post-data {
    font-size: calc(14px + 2 * (100vw / 1440));
  }
}
.hero__post-data div > span {
  color: #ffd050;
}
@media (max-width: 414px) {
  .hero__post-data {
    grid-template-columns: 1fr;
    gap: 3px;
  }
  .hero__post-data div + span {
    display: none;
  }
}

@media (max-width: 768px) {
  .post-data--small {
    font-size: calc(12px + 3.4 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 768px) {
  .post-data--small {
    font-size: calc(12px + 2 * (100vw / 1440));
  }
}
.post-data--small div > span {
  color: #592ea9;
}

.blog {
  padding: 9vw 15px 4.4vw;
}

.blog__container {
  display: grid;
  grid-template-columns: minmax(auto, 733px) 1fr;
  gap: 32px;
}
@media (max-width: 1200px) {
  .blog__container {
    grid-template-columns: 1fr;
  }
}

.post {
  display: grid;
  gap: 28px;
}

.post__title {
  margin-bottom: 32px;
}

.post__body {
  display: grid;
  justify-items: start;
  padding: 2.2vw;
  border: 1px solid rgba(109, 110, 118, 0.1);
}

.post__img {
  justify-self: center;
  margin-bottom: 40px;
}

.post__title {
  margin: 18px 0;
}

.post__descr {
  max-width: 551px;
  margin-bottom: 2.2vw;
}

.post__post-data,
.post__subtitle {
  margin-bottom: 16px;
}

.blog-posts__title-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: end;
  margin-bottom: 35px;
}
@media (max-width: 1200px) {
  .blog-posts__title-wrapper {
    margin-bottom: 15px;
  }
}

.blog-posts__link {
  align-self: center;
  justify-self: end;
  color: #592ea9;
  transition: color 0.3s ease-in-out;
}
@media (max-width: 768px) {
  .blog-posts__link {
    font-size: calc(14px + 3.4 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 768px) {
  .blog-posts__link {
    font-size: calc(14px + 2 * (100vw / 1440));
  }
}
.blog-posts__link:hover {
  color: #ffd050;
}

.blog-posts__post-wrapper {
  display: grid;
  grid-template-columns: 1fr;
}
@media (max-width: 1200px) {
  .blog-posts__post-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .blog-posts__post-wrapper {
    grid-template-columns: 1fr;
    gap: 15px;
  }
}

.short-post__link {
  display: grid;
  justify-items: start;
  gap: 11px;
  padding: 2.2vw 2.2vw 1.9vw;
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;
}
.short-post__link:hover {
  border: 1px solid rgba(109, 110, 118, 0.3);
  box-shadow: 3px 2px 15px -1px rgba(109, 110, 118, 0.73);
}
.short-post__link--active {
  background-color: #fbf6ea;
}

.short-post__title {
  max-width: 369px;
}

.about {
  padding: 4vw 0 8.2vw;
}

.about__container {
  display: grid;
  grid-template-rows: 23px auto;
}

.about__lines {
  display: grid;
  grid-template-columns: 1fr minmax(200px, 779px) minmax(200px, 282px);
}
@media (max-width: 1200px) {
  .about__lines span:first-child {
    display: none;
  }
}
.about__lines span:nth-child(2) {
  background-color: #ffd050;
}
.about__lines span:nth-child(3) {
  background-color: #592ea9;
}
@media (max-width: 1200px) {
  .about__lines {
    grid-template-columns: 1fr 1fr;
  }
}

.about__wrapper {
  position: relative;
  display: grid;
  grid-template-columns: minmax(auto, 486px) minmax(auto, 512px);
  gap: 6.2vw;
  padding: 6.7vw 5.6vw;
  background-color: #f4f0f8;
}
@media (max-width: 768px) {
  .about__wrapper {
    grid-template-columns: 1fr;
  }
}

.about__title {
  max-width: 485px;
  margin-bottom: 16px;
}

.about__descr {
  margin-bottom: 21px;
}

.about__subtitle {
  margin-bottom: 1.9vw;
}

.about__link {
  color: #592ea9;
  font-family: "Sen";
  font-weight: 700;
  transition: color 0.3s ease-in-out;
}
@media (max-width: 768px) {
  .about__link {
    font-size: calc(16px + 3.4 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 768px) {
  .about__link {
    font-size: calc(16px + 2 * (100vw / 1440));
  }
}
.about__link:hover {
  color: #ffd050;
}

.category {
  padding: 1.1vw 15px;
}

.category__title {
  margin-bottom: 3.5vw;
  text-align: center;
}

.category-card {
  padding: 32px;
  border: 1px solid rgba(109, 110, 118, 0.3);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.category-card:hover {
  box-shadow: 3px 2px 15px -1px rgba(109, 110, 118, 0.73);
}
.category-card--active {
  border: 1px solid transparent;
  background-color: #ffd050;
}

.category-card__icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  margin-bottom: 16px;
  border-radius: 5px;
  background-color: #fbf6ea;
}
.category-card__icon-wrapper--active {
  background-color: #fff;
}

.story {
  padding: 7.9vw 0;
}

.story__container {
  display: grid;
  grid-template-columns: [image-start] minmax(auto, 574px) [text-start] minmax(auto, 375px) [image-end] minmax(auto, 328px) [text-end];
  grid-template-rows: [image-start] 121px [text-start] minmax(584px, auto) [row-end];
}
@media (max-width: 992px) {
  .story__container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
}
@media (max-width: 768px) {
  .story__container {
    grid-template-columns: 1fr;
  }
}

.story__image {
  grid-column: image-start/image-end;
  grid-row: image-start/row-end;
  min-height: 400px;
  background-image: url("../assets/img/story-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
@media (max-width: 992px) {
  .story__image {
    grid-column: auto/auto;
    grid-row: auto/auto;
  }
}
@media (max-width: 768px) {
  .story__image {
    background-image: url("../assets/img/story-bg-tablet.jpg");
  }
}
@media (max-width: 414px) {
  .story__image {
    background-image: url("../assets/img/story-bg-mobile.jpg");
  }
}

.story__text {
  display: grid;
  justify-items: start;
  grid-column: text-start/text-end;
  grid-row: text-start/row-end;
  padding: 5.6vw 5.4vw 5.6vw 5.6vw;
  background-color: #fff;
}
@media (max-width: 992px) {
  .story__text {
    grid-column: auto/auto;
    grid-row: auto/auto;
  }
}

.story__subtitle {
  margin-bottom: 1.7vw;
}

.story__title {
  margin-bottom: 16px;
  line-height: 133%;
}
@media (max-width: 768px) {
  .story__title {
    font-size: calc(36px + 20.4 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 768px) {
  .story__title {
    font-size: calc(36px + 12 * (100vw / 1440));
  }
}

.story__descr {
  margin-bottom: 2.2vw;
}

.authors {
  padding: 0.8vw 15px 3.4vw;
}

.authors__title {
  margin-bottom: 3.4vw;
  text-align: center;
}

.author {
  display: grid;
  justify-items: center;
  padding: 40px 0;
  background-color: #f4f4f4;
}
.author--active {
  background-color: #fbf6ea;
}

.author__avatar,
.author__descr {
  margin-bottom: 17px;
}

.author__descr {
  font-size: 14px;
}

.socials {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 16px;
}

.socials__link svg path {
  transition: fill 0.3s ease-in-out;
}
.socials__link:hover svg path {
  fill: #ffd050;
}

.footer__socials {
  gap: 26px;
}

.featured {
  padding: 3vw 15px;
}

.featured__container {
  display: grid;
  grid-template-columns: max-content auto;
  gap: 86px;
  padding: 0 14px;
}
@media (max-width: 1200px) {
  .featured__container {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}
@media (max-width: 414px) {
  .featured__container {
    justify-items: center;
  }
}

.featured__partners {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  align-content: center;
  gap: 5.2vw;
}
@media (max-width: 414px) {
  .featured__partners {
    justify-self: start;
  }
}

.featured__descr {
  line-height: 143%;
}
@media (max-width: 768px) {
  .featured__descr {
    font-size: calc(12px + 3.4 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 768px) {
  .featured__descr {
    font-size: calc(12px + 2 * (100vw / 1440));
  }
}

.featured__title {
  color: #6d6e76;
}

.featured__title-wrapper {
  display: grid;
}
@media (max-width: 1200px) {
  .featured__title-wrapper {
    justify-items: center;
  }
}

.testimonials {
  padding: 3.7vw 0 4.4vw;
}

.testimonials__container {
  display: grid;
  grid-template-columns: minmax(250px, 345px) 1px minmax(250px, 532px);
  justify-content: center;
  gap: 89px;
  padding: 5.6vw 15px 5.2vw;
  background-color: #fbf6ea;
}
@media (max-width: 992px) {
  .testimonials__container {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1px auto;
    gap: 30px;
  }
}
@media (max-width: 768px) {
  .testimonials__container {
    gap: 20px;
  }
}
@media (max-width: 414px) {
  .testimonials__container {
    gap: 15px;
  }
}

.testimonials__testimonial {
  padding-top: 11px;
}

.testimonials__subtitle {
  margin-bottom: 12px;
}

.testimonials__title {
  margin-bottom: 16px;
}

.testimonials__line {
  background-color: rgba(109, 110, 118, 0.4);
}

.review__title {
  max-width: 468px;
  margin-bottom: 8.4vw;
}
@media (max-width: 992px) {
  .review__title {
    margin-bottom: 6vw;
  }
}
@media (max-width: 768px) {
  .review__title {
    max-width: none;
    text-align: center;
  }
}

.review__wrapper {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .review__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 15px;
  }
}

.review__author-wraper {
  display: grid;
  grid-template-areas: "avatar name" "avatar place";
  column-gap: 16px;
}
@media (max-width: 414px) {
  .review__author-wraper {
    margin-top: 20px;
  }
}

.review__avatar {
  grid-area: avatar;
}

.review__name {
  grid-area: name;
}

.review__place {
  grid-area: place;
}

.review__arrows {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 5px;
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.arrow:hover {
  background-color: #ffd050;
}
.arrow--left {
  width: 48px;
  height: 48px;
  background-color: #fff;
}
@media (max-width: 768px) {
  .arrow--left {
    width: 38px;
    height: 38px;
  }
}
@media (max-width: 414px) {
  .arrow--left {
    width: 28px;
    height: 28px;
  }
}
.arrow--right {
  width: 64px;
  height: 64px;
  background-color: #232536;
}
@media (max-width: 768px) {
  .arrow--right {
    width: 54px;
    height: 54px;
  }
}
@media (max-width: 414px) {
  .arrow--right {
    width: 44px;
    height: 44px;
  }
}

.join {
  padding: 4.2vw 15px 8.9vw;
}

.join__container {
  display: grid;
  grid-template-columns: minmax(280px, 414px);
  justify-content: center;
  justify-items: center;
}

.join__title {
  margin-bottom: 16px;
  text-align: center;
}

.join__descr {
  margin-bottom: 32px;
  text-align: center;
}