* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* ===== Usage ===== */
@font-face {
  font-family: "Sen";
  src: url("../assets/fonts/Sen-Bold.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Black.woff2") format("woff2");
  font-weight: 900;
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Sen";
  src: url("../assets/fonts/Sen-Bold.woff2") format("woff2");
  font-weight: 700;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter";
  color: #232536;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.container {
  max-width: 1310px;
  margin: 0 auto;
}

.header {
  padding: 12px 15px;
  width: 100%;
  background-color: #232536;
}

.header__container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 32px;
}
@media (max-width: 768px) {
  .header__container {
    grid-template-columns: 1fr 1fr;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 48px;
  color: #232536;
  background-color: #fff;
  font-family: "Sen";
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  transition: background-color 0.3s ease-in-out;
}
.btn:hover {
  background-color: #ffd050;
}
.btn--accent {
  background-color: #ffd050;
}
.btn--accent:hover {
  background-color: #fff;
}

@media (max-width: 768px) {
  .header__btn {
    display: none;
  }
}

h1,
h2,
h3,
h4 {
  font-family: "Sen";
  font-weight: 700;
}

.title {
  line-height: 114%;
  letter-spacing: -2px;
}
@media (max-width: 768px) {
  .title {
    font-size: calc(28px + 47.6 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 768px) {
  .title {
    font-size: calc(28px + 28 * (100vw / 1440));
  }
}

.title-2 {
  letter-spacing: -2px;
}
@media (max-width: 768px) {
  .title-2 {
    font-size: calc(24px + 20.4 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 768px) {
  .title-2 {
    font-size: calc(24px + 12 * (100vw / 1440));
  }
}

.title-3 {
  line-height: 143%;
  letter-spacing: -1px;
}
@media (max-width: 768px) {
  .title-3 {
    font-size: calc(22px + 10.2 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 768px) {
  .title-3 {
    font-size: calc(22px + 6 * (100vw / 1440));
  }
}

.title-4 {
  line-height: 133%;
}
@media (max-width: 768px) {
  .title-4 {
    font-size: calc(20px + 6.8 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 768px) {
  .title-4 {
    font-size: calc(20px + 4 * (100vw / 1440));
  }
}

.title-5 {
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 3px;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .title-5 {
    font-size: calc(14px + 3.4 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 768px) {
  .title-5 {
    font-size: calc(14px + 2 * (100vw / 1440));
  }
}

.description {
  color: #6d6e76;
  line-height: 175%;
}
@media (max-width: 768px) {
  .description {
    font-size: calc(14px + 3.4 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 768px) {
  .description {
    font-size: calc(14px + 2 * (100vw / 1440));
  }
}

.burger-menu {
  cursor: pointer;
  display: none;
}
@media (max-width: 768px) {
  .burger-menu {
    display: block;
  }
}
.burger-menu__list {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%);
  transition: 0.5s;
}
.burger-menu__link {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
}
.burger-menu__btn {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #ffd050;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7px;
  z-index: 2;
}
.burger-menu__btn--active span {
  position: absolute;
}
.burger-menu__btn--active span:nth-child(1) {
  transform: rotate(45deg);
}
.burger-menu__btn--active span:nth-child(2) {
  opacity: 0;
}
.burger-menu__btn--active span:nth-child(3) {
  transform: rotate(-45deg);
}
.burger-menu__btn--active + .burger-menu__list {
  transform: translateY(0);
}
.burger-menu__btn span {
  height: 2px;
  width: 80%;
  background-color: #232536;
  transition: 0.5s;
}

.nav {
  justify-self: end;
}

.menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 24px;
  color: #fff;
}
@media (max-width: 768px) {
  .menu {
    display: none;
  }
}

.menu__link {
  transition: color 0.3s ease-in-out;
}
.menu__link:hover {
  color: #ffd050;
}

.hero {
  padding: 8.9vw 15px 13vw;
  background-image: radial-gradient(30.56% 76.04% at 74.58% 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%), url("../assets/img/hero-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
}

.hero__container {
  display: grid;
  grid-template-columns: minmax(auto, 804px);
  justify-items: start;
}
@media (max-width: 414px) {
  .hero__container {
    justify-items: center;
  }
}

.hero__subtitle {
  margin-bottom: 1.7vw;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 125%;
}
@media (max-width: 768px) {
  .hero__subtitle {
    font-size: calc(14px + 3.4 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 768px) {
  .hero__subtitle {
    font-size: calc(14px + 2 * (100vw / 1440));
  }
}
.hero__subtitlespan {
  font-weight: 500;
}

.hero__title {
  margin-bottom: 1.7vw;
}
@media (max-width: 414px) {
  .hero__title {
    text-align: center;
  }
}

.hero__desc {
  margin: 16px 0 48px;
  color: #fff;
}
@media (max-width: 414px) {
  .hero__desc {
    text-align: center;
  }
}

.post-data {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 12px;
}

@media (max-width: 768px) {
  .hero__post-data {
    font-size: calc(14px + 3.4 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 768px) {
  .hero__post-data {
    font-size: calc(14px + 2 * (100vw / 1440));
  }
}
.hero__post-data div > span {
  color: #ffd050;
}
@media (max-width: 414px) {
  .hero__post-data {
    justify-self: start;
    grid-template-columns: 1fr;
    gap: 3px;
  }
  .hero__post-data div + span {
    display: none;
  }
}

@media (max-width: 768px) {
  .post-data--small {
    font-size: calc(12px + 3.4 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 768px) {
  .post-data--small {
    font-size: calc(12px + 2 * (100vw / 1440));
  }
}
.post-data--small div > span {
  color: #592ea9;
}

.blog {
  padding: 8.9vw 15px 4.4vw;
}

.blog__container {
  display: grid;
  grid-template-columns: minmax(auto, 733px) 1fr;
  gap: 32px;
}
@media (max-width: 1200px) {
  .blog__container {
    grid-template-columns: 1fr;
  }
}

.post {
  display: grid;
  gap: 15px;
}

.post__title {
  margin-bottom: 32px;
}

.post__body {
  display: grid;
  justify-items: start;
  padding: 32px;
  border: 1px solid rgba(109, 110, 118, 0.1);
}

.post__img {
  display: grid;
  justify-items: stretch;
  width: 100%;
  margin-bottom: 32px;
}

.post__descr {
  max-width: 551px;
  margin-bottom: 32px;
}

.post__post-data,
.post__subtitle {
  margin-bottom: 16px;
}

.blog-posts__title-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: end;
}
@media (max-width: 1200px) {
  .blog-posts__title-wrapper {
    margin-bottom: 15px;
  }
}

.blog-posts__link {
  justify-self: end;
  color: #592ea9;
}
@media (max-width: 768px) {
  .blog-posts__link {
    font-size: calc(14px + 3.4 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 768px) {
  .blog-posts__link {
    font-size: calc(14px + 2 * (100vw / 1440));
  }
}

.blog-posts__post-wrapper {
  display: grid;
  grid-template-columns: 1fr;
}
@media (max-width: 1200px) {
  .blog-posts__post-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .blog-posts__post-wrapper {
    grid-template-columns: 1fr;
  }
}

.short-post {
  display: grid;
  justify-items: start;
  gap: 8px;
  padding: 32px;
}
.short-post:nth-child(2) {
  background-color: #fbf6ea;
}

.short-post__title {
  max-width: 369px;
}

.about {
  padding: 4.4vw 15px 8.9vw;
}

.about__container {
  display: grid;
  grid-template-rows: 23px auto;
}

.about__lines {
  display: grid;
  grid-template-columns: 1fr minmax(200px, 779px) minmax(200px, 282px);
}
@media (max-width: 1200px) {
  .about__lines span:first-child {
    display: none;
  }
}
.about__lines span:nth-child(2) {
  background-color: #ffd050;
}
.about__lines span:nth-child(3) {
  background-color: #592ea9;
}
@media (max-width: 1200px) {
  .about__lines {
    grid-template-columns: 1fr 1fr;
  }
}

.about__wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  padding: 6.7vw 5.6vw;
  background-color: #f4f0f8;
}
@media (max-width: 768px) {
  .about__wrapper {
    grid-template-columns: 1fr;
  }
}

.about__title,
.about__descr {
  margin-bottom: 16px;
}

.about__subtitle {
  margin-bottom: 1.7vw;
}

.about__link {
  color: #592ea9;
  font-family: "Sen";
  font-weight: 700;
}
@media (max-width: 768px) {
  .about__link {
    font-size: calc(16px + 3.4 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 768px) {
  .about__link {
    font-size: calc(16px + 2 * (100vw / 1440));
  }
}

.category {
  padding: 4.4vw 15px;
}

.category__title {
  margin-bottom: 3.3vw;
  text-align: center;
}

.category__categories {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 296px));
  justify-content: center;
  gap: 2.2vw;
}
@media (max-width: 992px) {
  .category__categories {
    grid-template-columns: repeat(2, minmax(200px, 296px));
  }
}
@media (max-width: 768px) {
  .category__categories {
    grid-template-columns: 1fr;
  }
}

.category-card {
  padding: 32px;
  border: 1px solid rgba(109, 110, 118, 0.3);
}
.category-card--active {
  border: 1px solid transparent;
  background-color: #ffd050;
}

.category-card__icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  margin-bottom: 16px;
  border-radius: 5px;
  background-color: #fbf6ea;
}
.category-card__icon-wrapper--active {
  background-color: #fff;
}

.story {
  padding: 4.4vw 0;
}

.story__container {
  display: grid;
  grid-template-columns: [image-start] minmax(auto, 574px) [text-start] minmax(auto, 375px) [image-end] minmax(auto, 328px) [text-end];
  grid-template-rows: [image-start] 121px [text-start] 584px [row-end];
}
@media (max-width: 992px) {
  .story__container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
}
@media (max-width: 768px) {
  .story__container {
    grid-template-columns: 1fr;
  }
}

.story__image {
  grid-column: image-start/image-end;
  grid-row: image-start/row-end;
  min-height: 400px;
  background-image: url("../assets/img/story-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
@media (max-width: 992px) {
  .story__image {
    grid-column: auto/auto;
    grid-row: auto/auto;
  }
}

.story__text {
  display: grid;
  justify-items: start;
  grid-column: text-start/text-end;
  grid-row: text-start/row-end;
  padding: 5.6vw;
  background-color: #fff;
}
@media (max-width: 992px) {
  .story__text {
    grid-column: auto/auto;
    grid-row: auto/auto;
  }
}

.story__subtitle {
  margin-bottom: 1.7vw;
}

.story__title {
  margin-bottom: 16px;
}
@media (max-width: 768px) {
  .story__title {
    font-size: calc(36px + 20.4 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 768px) {
  .story__title {
    font-size: calc(36px + 12 * (100vw / 1440));
  }
}

.story__descr {
  margin-bottom: 2.2vw;
}